{% extends 'base.html.twig' %}

{% block title %}_ Rappels _
{% endblock %}

{% block body %}
	<div>

		<ul>
{% for id in Rappels %}



				<li>{{civilite}}</li>


			{% endfor %}
		</ul>
	</div>


{% endblock %}
