{% extends 'base.html.twig' %}

{% block title %}_ Rappels _
{% endblock %}

{% block body %}
	<div>

		{% for Rappels in Rappels %}
			<table>
				<thead>
					<th> Rappels</th>
				</thead>


			</table>


		{% endfor %}

	</div>


{% endblock %}
